@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';

.persons {
  .person {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;

    & + .person {
      margin-top: 20px;
    }

    .personLink {
      @include link;
    }
  }
}
